﻿<template>
    <div>
        <h1>Створити матч:</h1>

        <form>
            <div class="form-group row">
                <label for="matchName" class="col-sm-2 col-form-label">Назва: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="matchName" v-model="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="matchDate" class="col-sm-2 col-form-label">Дата: </label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="matchDate"
                           v-model="date">
                </div>
            </div>
            <div class="form-group row">
                <label for="matchWeapon" class="col-sm-2 col-form-label">Тип зброї: </label>
                <div class="col-sm-10">
                    <select class="form-control form-control-lg" id="matchWeapon" v-model="weapon">
                        <option value="Пістолет">Пістолет</option>
                        <option value="Карабін">Карабін</option>
                        <option value="Рушниця">Рушниця</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="matchScoringType" class="col-sm-2 col-form-label">Підрахунок очок за правилами: </label>
                <div class="col-sm-10">
                    <select class="form-control form-control-lg" id="matchScoringType" v-model="matchScoringType">
                        <option value="IPSC - Практична стрільба">IPSC - Практична стрільба</option>
                        <option value="UFPS - Прикладна стрільба">UFPS - Прикладна стрільба</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="ro" class="col-sm-2 col-form-label">Головний суддя: </label>
                <div class="col-sm-10">
                    <multiselect v-model="cro"
                                 :options="roList"
                                 trackBy="id"
                                 :custom-label="roDisplayText"
                                 placeholder="Виберіть суддю зі списку"
                                 :showLabels="false" />
                </div>
            </div>
            <div class="form-group row">
                <label for="md" class="col-sm-2 col-form-label">Директор матчу: </label>
                <div class="col-sm-10">
                    <multiselect v-model="md"
                                 :options="roList"
                                 trackBy="id"
                                 :custom-label="roDisplayText"
                                 placeholder="Виберіть директора матчу зі списку"
                                 :showLabels="false" />
                </div>
            </div>
        </form>

        <button type="button" class=" btn-outline-primary btn-lg" @click="createMatch">Створити</button>

    </div>
</template>

<script src="./matchcreate.ts"></script>