﻿<template>
    <div>
        <h3>Конструктор матчу:</h3>
        <match-selector v-on:selectedMatchChanged="selectedMatchChanged"/>
        
        <stage-editor v-for="stage in selectedMatch.stages"
                    v-if="selectedMatch.stages.length > 0"
                    v-bind:key="stage.id"
                      :match-id="selectedMatch.id"
                      :stage="stage"
                      :roList="roList"/>

        <div class="form-group row">
            <button type="button" class="btn btn-primary" @click="addStage">Додати вправу</button>
        </div>
    </div>
</template>

<script src="./matchdesign.ts"></script>