﻿<template>
    <div>
        <h3>Реєстрація учасника на матч:</h3>

        <match-selector v-on:selectedMatchChanged="selectedMatchChanged" />

        <div class="form-group row">
            <p>Виберіть учасника</p>
            <multiselect v-model="selectedCompetitor"
                         :options="competitors"
                         trackBy="id"
                         :custom-label="competitorDisplayText"
                         placeholder="Виберіть учасника зі списку"
                         :showLabels="false" />
        </div>

        <div class="form-group row">
            <p>Номер скваду</p>
            <input class="form-control" type="number" v-model="squadNr" />
        </div>

        <div class="form-group row">
            <p>Клас:</p>
            <select class="form-control" v-model="clas">
                <option v-for="clas in lists.classes" v-bind:value="clas">
                    {{ clas }}
                </option>
            </select>
        </div>

        <div class="form-group row">
            <p>Категорія</p>
            <select class="form-control" v-model="category">
                <option v-for="cat in lists.categories" v-bind:value="cat">
                    {{ cat }}
                </option>
            </select>
        </div>

        <div class="form-group row">
            <p>Фактор потужності</p>
            <select class="form-control" v-model="powerFactor">
                <option v-for="pf in lists.powerFactors" v-bind:value="pf">
                    {{ pf }}
                </option>
            </select>
        </div>

        <button type="button" class=" btn-outline-primary btn-lg" @click="registerCompetitor">Зареєструвати</button>
    </div>
</template>

<script src="./registerCompetitor.ts"></script>