﻿<template>
    <div>
        <h3>Перегляд зареєстрованих учасників:</h3>

        <match-selector v-on:selectedMatchChanged="selectedMatchChanged"/>

        <div v-if="registrations.length > 0">
            <table class="table table-striped thead-dark">
                <thead>
                    <tr>
                        <th scope="col">ПІБ</th>
                        <th scope="col">Клас</th>
                        <th scope="col">Категорія</th>
                        <th scope="col">Фактор потужності</th>
                        <th scope="col">Сквад</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr v-for="registration in registrations">
                    <td>{{registration.name}}</td>
                    <td>{{registration.class}}</td>
                    <td>{{registration.category}}</td>
                    <td>{{registration.powerFactor}}</td>
                    <td>{{registration.squad}}</td>
                    <td>
                        <button class="btn" @click="removeRegistration(registration)">
                            <font-awesome-icon icon="trash-alt" />
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        
        <div v-if="registrations.length == 0">
            <h3>Жодного учасника</h3>
        </div>
    </div>
</template>

<script src="./registration.ts"></script>