﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <base href="~/" />
</head>
<body>
@RenderBody()
@RenderSection("scripts", required: false)
<script src="~/dist/vendors~main.bundle.js"></script>
<script src="~/dist/bundle.js"></script>
</body>
</html>
