﻿<template>
    <div>
        <h5>Внесення результатів:</h5>

        <match-selector v-on:selectedMatchChanged="selectedMatchChanged" />

        <div class="form-group">
            <label for="stageSelect">Виберіть учасника</label>
            <select id="stageSelect" class="form-control" v-model="selectedCompetitor">
                <option v-for="comp in registrations" v-bind:value="comp">
                    {{ comp.name }}
                </option>
            </select>
        </div>

        <h2>Результати: </h2>
        <br/>
        <score-sheet v-for="result in competitorResults"
                     :title-text="'Вправа ' + result[0].name"
                     :score="result[1]"
                     :stage="result[0]" />
    </div>
</template>

<script src="./submitcompetitor.ts"></script>