﻿<template>
    <div>
        <h5>Внесення результатів:</h5>
        <div v-if="currentPageNr == 0">
            <match-selector v-on:selectedMatchChanged="selectedMatchChanged"/>

            <div class="form-group">
                <label for="stageSelect">Виберіть стейдж</label>
                <select id="stageSelect" class="form-control" v-model="selectedStage">
                    <option v-for="stage in selectedMatch.stages" v-bind:value="stage">
                        {{ stage.name }}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="squadSelect">Виберіть сквад</label>
                <select id="squadSelect" class="form-control" v-model="selectedSquad">
                    <option v-for="squad in squads" v-bind:value="squad">
                        {{ squad }}
                    </option>
                </select>
            </div>

            <button class="btn btn-link card-link" @click="gotoCompetitors()">Перейти до заповнення результатів</button>
        </div>
        <div v-if="currentPageNr == 1">
            <table class="table">
                <tr>
                    <th scope="row">Матч:</th>
                    <td> {{selectedMatch.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Вправа:</th>
                    <td>{{selectedStage.name}}</td>
                </tr>
                <tr>
                    <th scope="row">Сквад:</th>
                    <td>{{selectedSquad}}</td>
                </tr>
            </table>
            <button class="btn btn-link card-link" @click="gotoDetailsSelection()">Повернутися до вибору деталей</button>

            <carousel
                :perPage="1"
                :navigationEnabled="true"
                :paginationEnabled="true">
                <slide v-for="competitor in selectedSquadRegistrations"
                       v-bind:data="competitor[0].id"
                       v-bind:key="competitor[0].id"
                       v-if="selectedSquad != -1">
                    <score-sheet
                        :title-text="competitor[0].name"
                        :title-sub-text="getShortClassText(competitor[0].class)"
                        :score="competitor[1]"
                        :stage="selectedStage"/>
                </slide>
            </carousel>
        </div>
    </div>
</template>
<script src="./submitstage.ts"></script>