﻿<template>
    <div class="container">
        <match-selector v-on:selectedMatchChanged="selectedMatchChanged" />

        <h4>Верифікація:</h4>
        
        <div class="card" v-for="ver in verification" v-if="verification.length > 0">
            <div class="card-body">
                <h5 class="card-title">{{ver.competitor.lastName + ' ' + ver.competitor.firstName}}</h5>
                <table class="table">
                        <thead>
                        <tr>
                            <th>Вправа</th>
                            <th>A</th>
                            <th>C</th>
                            <th>D</th>
                            <th>Miss</th>
                            <th>PT</th>
                            <th>Proc</th>
                            <th>Час</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="score in ver.scores" v-if="score.item2 !== null"
                            v-bind:class="{'bg-warning': score.item1.shotCount !== score.item2.a + score.item2.c + score.item2.d + score.item2.miss }">
                            <td>{{score.item1.name}}</td>
                            <td>{{score.item2.a}}</td>
                            <td>{{score.item2.c}}</td>
                            <td>{{score.item2.d}}</td>
                            <td>{{score.item2.miss}}</td>
                            <td>{{score.item2.pt}}</td>
                            <td>{{score.item2.proc}}</td>
                            <td>{{score.item2.time | currency('', 2, { decimalSeparator: '.' })}}</td>
                        </tr>
                        <tr v-for="score in ver.scores" v-if="score.item2 === null" class="bg-danger text-white">
                            <td>{{score.item1.name}}</td>
                            <td colspan="7" style="text-align: center;">Результати не були внесені</td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </div>
        
        <div v-if="verification.length === 0">
            <h2>
                Відсутні результати
            </h2>
        </div>
    </div>

</template>

<script src="./verification.ts"></script>