﻿<template>
    <div class="container">
        <match-selector v-on:selectedMatchChanged="selectedMatchChanged"/>

        <h4>Результати:</h4>
        <ul class="nav nav-tabs" id="scoresTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="match-class-tab" data-toggle="tab" href="#match-class" role="tab" aria-controls="match-class" aria-selected="true">Матч за класом</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="match-category-tab" data-toggle="tab" href="#match-category" role="tab" aria-controls="match-category" aria-selected="false">Матч за категорією</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="stage-class-tab" data-toggle="tab" href="#stage-class" role="tab" aria-controls="stage-class" aria-selected="false">Вправи за класом</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="stage-category-tab" data-toggle="tab" href="#stage-category" role="tab" aria-controls="stage-category" aria-selected="false">Вправи за категорією</a>
            </li>
        </ul>
        <div class="tab-content" id="scoresTabContent">
            <div class="tab-pane fade show active" id="match-class" role="tabpanel" aria-labelledby="match-class-tab">
                <result-view-card :scores="results.byClass"></result-view-card>
            </div>
            <div class="tab-pane fade" id="match-category" role="tabpanel" aria-labelledby="match-category-tab">
                <result-view-card :scores="results.byCategory"></result-view-card>
            </div>
            <div class="tab-pane fade" id="stage-class" role="tabpanel" aria-labelledby="stage-class-tab">
                <result-view-card :scores="results.byStage" :showDetailedScore="true"></result-view-card>
            </div>
            <div class="tab-pane fade" id="stage-category" role="tabpanel" aria-labelledby="stage-category-tab">
                <result-view-card :scores="results.byStageAndCategory" :showDetailedScore="true"></result-view-card>
            </div>
        </div>
    </div>

</template>

<script src="./viewmatch.ts"></script>