﻿<template>
    <div>
        <h1>Створити учасника:</h1>

        <form>
            <div class="form-group row">
                <label for="competitorName" class="col-sm-2 col-form-label">Імя: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="competitorName"
                           v-model="competitor.firstName">
                </div>
            </div>
            <div class="form-group row">
                <label for="competitorLastName" class="col-sm-2 col-form-label">Прізвище: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="competitorLastName"
                           v-model="competitor.lastName">
                </div>
            </div>
            <div class="form-group row">

                <label for="competitorEmail" class="col-sm-2 col-form-label">Емейл: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="competitorEmail"
                           v-model="competitor.email">
                </div>
            </div>
            <div class="form-group row">
                <label for="competitorPhone" class="col-sm-2 col-form-label">Номер телефону: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="competitorPhone"
                           v-model="competitor.phone">
                </div>
            </div>
            <div class="form-group row">
                <label for="competitorCategory" class="col-sm-2 col-form-label">Категорія: </label>
                <div class="col-sm-10">
                    <select class="form-control" id="competitorCategory" v-model="competitor.category">
                        <option value="Загальна">Загальна</option>
                        <option value="Леді">Леді</option>
                        <option value="Юніор">Юніор</option>
                        <option value="Сеньйор">Сеньйор</option>
                        <option value="Суперсеньйор">Суперсеньйор</option>
                    </select>
                </div>
            </div>
        </form>

        <button type="button" class="btn btn-primary" @click="createCompetitor">Створити</button>

    </div>
</template>

<script src="./competitor.ts"></script>