﻿<template>
    <div class="form-group">
        <p>Виберіть матч</p>
        <select class="form-control" v-model="selectedMatch">
            <option v-for="match in matchesList" v-bind:value="match">
                {{ match.date }} {{ match.name }} {{ match.weaponType }}
            </option>
        </select>
    </div>
</template>

<script src="./matchSelector.ts"></script>