﻿<template>
    <div>
        <div class="card mb-1" v-for="scoreByCriteria in scores">
            <div class="card-header">
                {{scoreByCriteria.criteriaDescription}}
            </div>
            <div class="card-body">
                <div v-if="scoreByCriteria.subCriteriaScore.length > 0">
                    <result-view-card :scores="scoreByCriteria.subCriteriaScore" :showDetailedScore="showDetailedScore"></result-view-card>
                </div>
                <div v-if="scoreByCriteria.results.length > 0">
                    <table class="table table-striped table-condensed">
                        <thead class="thead-light" v-if="!showDetailedScore">
                            <tr>
                                <th style="text-align: right; width: 60px">%</th>
                                <th>NAME</th>
                                <th style="text-align: center; width: 120px">POINTS</th>
                            </tr>
                        </thead>
                        <tbody v-if="!showDetailedScore">
                        <tr v-for="result in scoreByCriteria.results">
                            <td style="text-align: right">{{result.percentage}}</td>
                            <td>{{result.competitorName}}</td>
                            <td style="text-align: center">{{result.stagePoints}}</td>
                        </tr>
                        </tbody>
                        
                        <thead class="thead-light" v-if="showDetailedScore">
                            <tr>
                                <th style="text-align: right; width: 60px">%</th>
                                <th>NAME</th>
                                <th>A</th>
                                <th>C</th>
                                <th>D</th>
                                <th>Miss</th>
                                <th>PT</th>
                                <th>Proc</th>
                                <th>Час</th>
                                <th>ХФ</th>
                                <th style="text-align: center; width: 120px">POINTS</th>
                            </tr>
                        </thead>
                        <tbody v-if="showDetailedScore">
                            <tr v-for="result in scoreByCriteria.results">
                                <td style="text-align: right">{{result.percentage}}</td>
                                <td>{{result.competitorName}}</td>
                                <td>{{result.score.a}}</td>
                                <td>{{result.score.c}}</td>
                                <td>{{result.score.d}}</td>
                                <td>{{result.score.miss}}</td>
                                <td>{{result.score.pt}}</td>
                                <td>{{result.score.proc}}</td>
                                <td>{{result.score.time | currency('', 2, { decimalSeparator: '.' })}}</td>
                                <td>{{result.hitFactor}}</td>
                                <td style="text-align: center">{{result.stagePoints}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="./resultViewCard.ts"></script>