﻿<template>
    <div style="touch-action: manipulation;" class="card h-100  mb-2">
        <div v-bind:class="[{ 'bg-danger': score.dq || hasDQ || isDQMode }, 'card-header']">
            <h5 class="mb-0 float-left">
                {{titleText}}
            </h5>
            <h5 class="float-right text-muted">
                {{titleSubText}}
            </h5>
        </div>
        <div class="card-body" v-show="isEnterResultsMode">
            <div class="input-group align-items-center d-flex justify-content-center mb-1">
                <div class="col-sm-2 control-label">
                    <h5>TIME</h5>
                </div>
                <div class="col-sm-4">
                    <input type="number" class="form-control btn-lg" v-model="score.time">
                </div>
            </div>
            <div class="input-group row mb-1">
                <div class="col-3 p-0 m-0 align-items-center d-flex justify-content-center">
                    <h5>A</h5>
                </div>
                <div class="col-9 p-0">
                    <div class="input-group">
                        <input type="number" class="form-control" v-model="score.a">
                        <span class="input-group-btn">
                            <button class="btn btn-outline-success" @click="++score.a">+</button>
                            <button class="btn btn-outline-success" @click="score.a--">-</button>
                            <button class="btn btn-outline-success" @click="score.a = stage.shotCount">MAX</button>
                        </span>

                    </div>
                </div>
            </div>
            <div class="input-group row mb-1" v-if="stage.ammoType !== 'Шріт'">
                <div class="col-3 p-0 m-0 align-items-center d-flex justify-content-center">
                    <h5>C</h5>
                </div>
                <div class="col-9 p-0">
                    <div class="input-group">
                        <input type="number" class="form-control" v-model="score.c">
                        <span class="input-group-btn">
                            <button class="btn btn-outline-success" @click="score.c++">+</button>
                            <button class="btn btn-outline-success" @click="score.c--">-</button>
                            <button class="btn btn-outline-success" @click="score.c = stage.shotCount">MAX</button>
                        </span>

                    </div>
                </div>
            </div>
            <div class="input-group row mb-1" v-if="stage.ammoType !== 'Шріт'">
                <div class="col-3 p-0 m-0 align-items-center d-flex justify-content-center">
                    <h5>D</h5>
                </div>
                <div class="col-9 p-0">
                    <div class="input-group">
                        <input type="number" class="form-control" v-model="score.d">
                        <span class="input-group-btn">
                            <button class="btn btn-outline-success" @click="score.d++">+</button>
                            <button class="btn btn-outline-success" @click="score.d--">-</button>
                            <button class="btn btn-outline-success" @click="score.d = stage.shotCount">MAX</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="input-group row mb-1">
                <div class="col-3 p-0 m-0 align-items-center d-flex justify-content-center">
                    <h5>MISS</h5>
                </div>
                <div class="col-9 p-0">
                    <div class="input-group">
                        <input type="number" class="form-control" v-model="score.miss">
                        <span class="input-group-btn">
                            <button class="btn btn-outline-success" @click="score.miss++">+</button>
                            <button class="btn btn-outline-success" @click="score.miss--">-</button>
                            <button class="btn btn-outline-success" @click="score.miss = stage.shotCount">MAX</button>
                        </span>

                    </div>
                </div>
            </div>
            <div class="input-group row mb-1">
                <div class="col-3 p-0 m-0 align-items-center d-flex justify-content-center">
                    <h5>PT</h5>
                </div>
                <div class="col-9 p-0">
                    <div class="input-group">
                        <input type="number" class="form-control" v-model="score.pt">
                        <span class="input-group-btn">
                            <button class="btn btn-outline-success" @click="score.pt++">+</button>
                            <button class="btn btn-outline-success" @click="score.pt--">-</button>
                            <button class="btn btn-outline-success" @click="score.pt = stage.penaltyTargetsCount">MAX</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="input-group row mb-2">
                <div class="col-3 p-0 m-0 align-items-center d-flex justify-content-center">
                    <h5>PROC</h5>
                </div>
                <div class="col-9 p-0">
                    <div class="input-group">
                        <input type="number" class="form-control" v-model="score.proc">
                        <span class="input-group-btn">
                            <button class="btn btn-outline-success" @click="score.proc++">+</button>
                            <button class="btn btn-outline-success" @click="score.proc--">-</button>
                            <button class="btn btn-outline-success" disabled="disabled">MAX</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" v-show="isEnterResultsMode">
            <div v-if="!hasAllScores()" class="bd-callout bd-callout-error">
                <p>Кількість внесених попаданнь/промахів не дорівнює кількості пострілів на вправі!</p>
            </div>
            <div v-if="score.time == 0" class="bd-callout bd-callout-error">
                <p>Час не може бути рівним нулю!</p>
            </div>
            <div class="input-group align-items-center d-flex justify-content-center">
                <input type="button" class="btn btn-outline-success btn-lg mr-3" @click="resetStates();enterPinMode=true;" value="Підписати"
                       :disabled="score.dq || !hasAllScores()" />
                <input type="button" class="btn btn-danger btn-lg" value="DQ" @click="resetStates();isDQMode = true" />
            </div>
        </div>

        <div class="card-body" v-show="isDQMode">
            <h5 class="card-title">Дискваліфікувати учасника?</h5>
            <div class="col-9 p-0 form-group">
                <label for="exampleInputPassword1">Вкажіть причину дискваліфікації:</label>
                <textarea class="form-control" v-model="dqReason" />
            </div>
        </div>
        <div class="card-footer" v-show="isDQMode">
            <div class="input-group align-items-center d-flex justify-content-center">
                <input type="button" class="btn btn-outline-success btn-lg mr-3" @click="resetStates();isEnterResultsMode=true" value="Назад" />
                <input type="button" class="btn btn-danger btn-lg" value="DQ" @click="dqCompetitor" :disabled="dqReason.length === 0" />
            </div>
        </div>

        <div class="card-body " v-show="enterPinMode">
            <h5 class="card-title">PIN код учасника</h5>
            <h6 class="card-subtitle mb-2 text-muted">При першому введені PIN буде збережено, на решті вправ результат буде збережено лише при вірно введеному PIN коді.</h6>

            <div class="col-9 p-0 form-group">
                <label for="exampleInputPassword1">PIN:</label>
                <input type="password" pattern="[0-9]*" inputmode="numeric" class="form-control" v-model="competitorPIN" />
            </div>
        </div>
        <div class="card-footer" v-show="enterPinMode">
            <div class="input-group align-items-center d-flex justify-content-center">
                <input type="button" class="btn btn-outline-success btn-lg mr-3" @click="resetStates();isEnterResultsMode=true" value="Назад"/>
                <input type="button" class="btn btn-outline-success btn-lg" @click="saveCompetitorScore(score)" value="Відправити"
                       :disabled="score.dq"/>
            </div>
        </div>

        <div class="card-body" v-show="resultSentMode">
            <h2 class="center" v-show="score.dq">Учасника було дискваліфіковано!</h2>
            <h2 class="center"  v-show="!score.dq">Результат було збережено!</h2>
        </div>
    </div>
</template>
<script src="./scoreSheet.ts"></script>