﻿<template>
    <div class="card mb-2" v-bind:class="{'border-success' : isStageSaved()}">
        <div class="card-header media" v-bind:class="{ 'bg-success': isStageSaved() }">
            <div class="media-body  mr-2">
                <input type="text" class="form-control" v-if="stage.editMode" v-model="stage.name" placeholder="Назва (порядковий номер)">
                <h5 v-if="!stage.editMode">Вправа: {{stage.name}}</h5>
            </div>
            <button class="mr-1 btn btn-success" @click="stage.editMode = !stage.editMode;$forceUpdate()">
                <font-awesome-icon icon="marker" />
            </button>
            <button class="btn btn-success" @click="saveStage(stage)">
                <font-awesome-icon icon="save" />
            </button>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Тип боєприпасу</label>
                <div class="col-sm-10">
                    <select class="form-control" v-model="stage.ammoType" :disabled="!stage.editMode">
                        <option value="Шріт">Шріт</option>
                        <option value="Картеч">Картеч</option>
                        <option value="Куля">Куля</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Кількість залікових пострілів</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="stage.shotCount" :disabled="!stage.editMode">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Кількість штрафних мішеней</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="stage.penaltyTargetsCount" :disabled="!stage.editMode">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Максимальна кількість очок</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="stage.stageMaxPoints" :disabled="!stage.editMode">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Cуддя на вправі </label>
                <div class="col-sm-10">
                    <multiselect v-model="stage.seniorROObj" 
                                 :options="roList" 
                                 trackBy="id"
                                 :custom-label="roDisplayText" 
                                 :disabled="!stage.editMode"
                                 placeholder="Виберіть суддю зі списку"
                                 :allowEmpty="false"
                                 :showLabels="false"
                                 v-on:select="$forceUpdate()" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Помічник судді </label>
                <div class="col-sm-10">
                    <multiselect v-model="stage.juniorROObj"
                                 :options="roList" 
                                 trackBy="id"
                                 :custom-label="roDisplayText" 
                                 :disabled="!stage.editMode"
                                 placeholder="Виберіть суддю зі списку"
                                 :allowEmpty="true"
                                 :showLabels="false"
                                 v-on:select="$forceUpdate()"
                                 v-on:remove="$forceUpdate()" />
                </div>
            </div>
        </div>
    </div>
</template>
<script src="./stageEditor.ts"></script>