﻿<template>
    <div class="row">
        <div v-if="userRole == 'notLoggedIn'" class="col align-self-center">
            <div class="card mt-3">
                <div class="card-body">
                    <carousel
                        :perPage="1"
                        :navigationEnabled="false"
                        :paginationEnabled="false"
                        :navigate-to="currentPageNr">
                        <slide>
                            <h5 class="card-title">Введіть номер телефону або емейл для отримання СМС з паролем.</h5>
                            <div class="form-group">
                                <input type="text" class="form-control" id="login" v-model="userLogin">
                            </div>
                            <button class="btn btn-link card-link" @click="sendPwd()">Надіслати пароль</button>
                        </slide>
                        <slide>
                            <div class="form-group">
                                <h5 class="card-title">Введіть Пароль з СМС:</h5>
                                <p>Функція ще не реалізована, можна пропустити цей крок</p>
                                <input type="number" class="form-control" id="smspass">
                            </div>
                            <button class="btn btn-primary" @click="login()">Увійти</button>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
        <div v-if="userRole != 'notLoggedIn'">
            <h4>
                Ви успішно увійшли в систему.
            </h4>
        </div>
    </div>
</template>
<script src="./home.ts"></script>