﻿<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top ">
        <a class="navbar-brand" href="#">IPSC Stats Officer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link to="/" :exact="true" class="nav-link">
                        Home
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/viewscoresstage" class="nav-link">
                        Переглянути результат вправи
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/viewscoresmatch" class="nav-link">
                        Переглянути результат матчу
                    </router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>