﻿<template>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link to="/import" class="nav-link">
                        Імпорт
                    </router-link>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Керування матчем
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <router-link to="/matchdesign" class="dropdown-item">
                            Конструктор матчу
                        </router-link>
                        <div class="dropdown-divider"></div>
                        <router-link to="/registration" class="dropdown-item">
                            Переглянути реєстрації на матч
                        </router-link>
                    </div>
                </li>
                <li class="nav-item">
                    <router-link to="/competitor" class="nav-link">
                        Створити учасника
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/viewscoresstage" class="nav-link">
                        Переглянути результат вправи
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/viewscoresmatch" class="nav-link">
                        Переглянути результат матчу
                    </router-link>
                </li>
            </ul>
</template>