﻿<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="#">IPSC Stats Officer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <guest-menu v-if="userRole.indexOf('guest')!==-1 && showMenu"></guest-menu>
            <ro-menu v-if="userRole.indexOf('ro')!==-1 && showMenu"></ro-menu>
            <md-menu v-if="userRole.indexOf('md')!==-1 && showMenu"></md-menu>
            <competitor-menu v-if="userRole==='competitor' && showMenu"></competitor-menu>
            <super-admin-menu v-if="userRole.indexOf('superAdmin')!==-1 && showMenu"></super-admin-menu>
            <!--<div class="form-inline my-2 my-lg-0" v-if="userRole.indexOf('guest')!==-1">
                <input class="form-control mr-sm-2" type="email" id="userEmail" placeholder="Емейл" aria-label="емейл" v-model="userEmail">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" @click="login">Увійти</button>
            </div>-->
            <div class="form-inline my-2 my-lg-0" v-if="userRole.indexOf('guest')===-1">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" @click="logout">Вийти</button>
            </div>
            </div>
    </nav>
</template>

<script src="./menu.ts"></script>