﻿<template>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <router-link to="/scoresstage" class="nav-link">
                Внести результат
            </router-link>
        </li>
    </ul>
</template>