﻿<template>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <router-link to="/import" class="nav-link">
                Імпорт
            </router-link>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="matchNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Керування матчем
            </a>
            <div class="dropdown-menu" aria-labelledby="matchNavbarDropdown">
                <router-link to="/match" class="dropdown-item">
                    Створити матч
                </router-link>
                <router-link to="/matchdesign" class="dropdown-item">
                    Конструктор матчу
                </router-link>
                <div class="dropdown-divider"></div>
                <router-link to="/registration" class="dropdown-item">
                    Переглянути реєстрації на матч
                </router-link>
                <router-link to="/registercompetitor" class="dropdown-item">
                    Зареєструвати учасника
                </router-link>
            </div>
        </li>
        <li class="nav-item">
            <router-link to="/competitor" class="nav-link">
                Створити учасника
            </router-link>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="scoreinputNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Внести результати
            </a>
            <div class="dropdown-menu" aria-labelledby="scoreinputNavbarDropdown">
                <router-link to="/scoresstage" class="dropdown-item">
                    По сквадах
                </router-link>
                <router-link to="/scorescompetitor" class="dropdown-item">
                    По учасниках
                </router-link>
            </div>
        </li>
        <li class="nav-item">
            <router-link to="/verification" class="nav-link">
                Верифікація
            </router-link>
        </li>
        <li class="nav-item">
            <router-link to="/viewscoresmatch" class="nav-link">
                Переглянути результат матчу
            </router-link>
        </li>
    </ul>
</template>