﻿<template>
    <div class="mt-3">
        <h3>Імпортувати учасників матчу</h3>
        <p>
            <match-selector v-on:selectedMatchChanged="selectedMatchChanged" />
            <div class="form-group row">
        <p>Виберіть файл</p>
        <input type="file" ref="fileImport" class="form-control-file" accept="application/json" id="importFile">
    </div>
    <div class="form-group row">
        <button type="button" class="btn btn-outline-primary btn-lg" @click="importMatchCompetitors">Завантажити</button>
    </div>
            <div class="form-group row">
                <p>Завантажити результати матчу</p>
                <button type="button" class="btn btn-outline-primary btn-lg" @click="importMatchResult">Завантажити</button>
            </div>
    </p>
    </div>
</template>

<script src="./import.ts"></script>