<template>
    <div id='app-root'>
        <menu-component />
        
        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>

<script src="./app.ts"></script>