﻿@{
    ViewData["Title"] = "IPSC Score calculator";
}

<div id='app-root'>
    <menu-component />
        
    <div class="container">
        <router-view></router-view>
    </div>
</div>

@section scripts {
    @*<script src="~/dist/main.js" asp-append-version="true"></script>*@
}
