﻿@import "~bootstrap/scss/bootstrap";
@import "~toastr/toastr";


.multiselect--disabled {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    opacity:1;

    .multiselect__tags {
        background-color: #e9ecef;

        span {
            background-color: #e9ecef;
        }
    }
}

.bd-callout {
    padding: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    background-color: white;
}

.bd-callout-error {
    border-left-color: #dc3545;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}